/* HOME */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@media screen and (min-width:800px) and (max-width:1024px) {
    .content{
        zoom: 60% !important;  
    }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .content{
        zoom: 80% !important;  
    }
}
@media screen and (min-width: 1280px) and (max-width: 1366px) {
    .content{
        zoom: 85% !important;  
    }
}
@media screen and (min-width: 1366px) and (max-width: 1600px) {
    .content{
        zoom: 95% !important;  
    }
}

@media screen and (min-width: 1600px) and (max-width:1920px){
    .content{
        zoom: 100% !important;
    }
}
    /* HOME */
body {
    overflow: hidden;
    user-select: none;
}

.home {
    width: 1596px;
    height: 816px;
    background-color: rgba(0, 0, 0, 0.75);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    border-radius: 20px;
    overflow: hidden;
}

.content {
    width: 1250px;
    height: 816px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    border-radius: 20px;
    overflow: hidden;
}

.top-bar {
    background-color: rgba(0, 0, 0, 0.50);
    position: relative;
    width: 1596px;
    height: 211.09px;
    border: 0.1px solid #000000;
}

.nome-grupo {
    position: relative;
    display: flex;
    margin-top: 12px;
    margin-left: 50px;
}

.nome-grupo-p {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    margin-top: 55px;
    margin-left: 25px;
}

.nome-grupo-img {
    margin: 0;
    padding: 0;
    width: 10%;
    height: 10%;
    overflow: hidden;
}

.nav-bar {
    left: 60px;
    margin-top: 12px;
    position: relative;
    width: 1280px;
    height: 41.3px;
    display: flex;
}

.nav-bar-item {
    padding: 0;
    flex: 1;
    float: left;
    margin: 0;
}

.nav-item-p {
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
    margin: 0;
    padding: 5px;
    display: inline-block;
    align-self: baseline;
}

.nav-item-img {
    width: 25.48px;
    height: 25.48px;
    position: relative;
    margin: 0;
    display: inline-block;
    align-self: baseline;
    padding: 0;
    margin-bottom: -2px;
}

#banco-icon {
    width: 31px;
    height: 31px;
}

.banco-page h1 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.membros-ativos {
    background: rgba(0, 255, 42, 0.50);
    border-radius: 44px;
    position: absolute;
    left: 66.08px;
    top: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    padding: 15px 40px;
}


/* PRETO

.membros-ativos {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 44px;
  position: absolute;
  left: 66.08px;
  top:279.92px;
  height: 163.36px;
  width: 445.12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

*/

.membros-ativos h1 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    margin: 0;
}


/* preto

.membros-ativos p {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  padding: 0;
  margin-left: 5px;
  font-weight: 600;
}
*/

.membros-ativos p {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    padding: 20px;
    margin: 0;
    font-weight: 600;
}

.membros-ativos h1 img {
    width: 30px;
    height: 30px;
    padding-bottom: 50px;
    margin: 0;
}

/* aqui aumenta o tamanho da imagem no bau */
.imgBau {
    width: 75px;
    height: 75px;
}

.textoBau {
    text-align: center;
    font-size: 14px;
    color: yellow;
}

.membros-total {
    background: rgba(0, 85, 255, 0.50);
    border-radius: 44px;
    position: absolute;
    left: 66.08px;
    top: 450.83px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px 40px;
    width: 260px;
}


/* PRETO
.membros-total {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 44px;
  position: absolute;
  left: 66.08px;
  top: 481.83px;
  height: 163.36px;
  width: 445.12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
*/

.membros-total h1 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    margin: 0;
}

.membros-total p {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    padding: 0;
    margin-left: 20px;
    font-weight: 600;
}

.home-page-content {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    width: 755px;
    position: absolute;
    top: 285.47px;
    left: 450px;
    text-align: center;
    height: 520px;
    scrollbar-width: none;
    overflow: scroll;
}

.home-page-content::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}

#home-page-content-bem-vindo {
    color: #fcfcfc;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    margin-top: 30px;
    font-size: 28px;
    left: 80px;
    text-shadow: 0 0 3px #000000;
}

.membros-dados {
    background-color: rgba(0, 0, 0, 0.50);
}

.home-page-content table td {
    width: 350px;
    height: 67.91px;
}

.home-page-content table::-webkit-scrollbar {
    display: none;
}

.home-page-content table td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.home-page-content table td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.home-page-content table th {
    padding-bottom: 10px;
}

.home-page-content table {
    border-collapse: separate;
    border-spacing: 0 0.5em;
    margin-top: 40px;
}


/* MEMBROS PAGE */

.membros-dados-2 {
    background-color: rgba(0, 0, 0, 0.50);
}

.membros-page-table table td {
    width: 771.88px;
    height: 67.91px;
}

.membros-page-table::-webkit-scrollbar {
    display: none;
}

.membros-page-table table td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.membros-page-table table td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.membros-page-table table th {
    padding-bottom: 10px;
}

.membros-page-table table {
    border-collapse: separate;
    border-spacing: 0 0.5em;
}

.membros-page {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    width: 99%;
    text-align: center;
    margin-left: 5px;
    height: 647.03px;
    position: absolute;
}

.membros-page-table {
    overflow-y: scroll;
    width: 1225px;
    height: 480px;
    margin-left: 5px;
    margin-top: 1px; 
    /*------------- aquiiiiiiiii */
}

.tabela-membros-home:last-child {
    margin-bottom: 100px;
}

.info-btn {
    width: 150px;
    height: 33.96px;
    background-color: rgba(72, 112, 255, 0.75);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 91.78px;
    border: 0;
}

.promover-btn {
    width: 150px;
    height: 33.96px;
    background-color: rgba(41, 153, 53, 0.75);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 91.78px;
    border: 0;
}

.demitir-btn {
    width: 150px;
    height: 33.96px;
    background-color: rgba(255, 72, 72, 0.75);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 91.78px;
    border: 0;
}
 /* aqui ----------------------------------------------------------------------- */
.adicionar-ao-grupo {
    margin-top: 28px;
    margin-bottom: 30px;
    width: 200px;
    height: 50px;
    background-color: rgba(41, 153, 53, 0.75);
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    border-radius: 100px;
    text-align: center;
    font-weight: bold;
    border: 0;
    font-size: 22px;
}

.adicionar-ao-grupo img {
    width: 16px;
}

.add-membro-popup {
    top: 30%;
    left: 50%;
    background: #cccccc;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 476px;
    height: 165px;
    border-radius: 44px;
    text-align: center;
    font-size: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-membro-popup input {
    width: 200px;
    font-size: 15px;
    height: 25px;
    color: #fff;
    font-weight: 600;
    border: 0;
    border-radius: 22px;
    font-family: 'Montserrat', sans-serif;
    background-color: #1a1a1a;
    text-align: center;
}

.add-membro-botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.add-membro-popup input:focus {
    outline: none;
}

.adicionar-botao-grupo {
    background-color: rgb(41, 153, 53);
    color: #fff;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 22px;
    border: 0;
    margin-top: 10px;
    padding: 10px;
    margin-right: 10px;
}

.cancelar-botao-grupo {
    background-color: rgb(255, 72, 72);
    color: #fff;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 22px;
    border: 0;
    margin-top: 10px;
    padding: 10px;
}

.promover-membro-popup {
    top: 30%;
    left: 50%;
    background: #cccccc;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 476px;
    height: 165px;
    border-radius: 44px;
    text-align: center;
    font-size: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.demitir-membro-popup {
    top: 30%;
    left: 50%;
    background: #cccccc;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 476px;
    height: 165px;
    border-radius: 44px;
    text-align: center;
    font-size: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.demitir-do-grupo {
    background-color: rgb(41, 153, 53);
    color: #fff;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 22px;
    border: 0;
    margin-top: 10px;
    padding: 10px;
    margin-right: 10px;
}

.cancelar-demitir-botao-grupo {
    background-color: rgb(255, 72, 72);
    color: #fff;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 22px;
    border: 0;
    margin-top: 10px;
    padding: 10px;
}

.demitir-membro-botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* BAU PAGE */

.tabela-bau:last-child {
    margin: 30px 30px;
}

.bau-dados-2 {
    background-color: rgba(0, 0, 0, 0.50);
}

.bau-page-table table td {
    text-align: center;
    width: 250px;
    height: 58px;
}

.bau-page-table::-webkit-scrollbar {
    display: none;
}

.bau-page-table table td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.bau-page-table table td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bau-page-table table th {
    padding-bottom: 10px;
}

.bau-page-table table {
    border-collapse: separate;
    border-spacing: 0 0.5em;
}

.bau-page {
    margin-left: 5px;
    margin-top: 5px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    width: 99%;
    height: 816px;
}

.bau-page-table {
    height: 647.03px;
    margin-top: 15px;
    margin-left: 5px;
    scrollbar-width: none;
    overflow: scroll;
    width: 99%;
    height: 600px;
}
/* aqui está o botão do peso  */
.adicionar-peso {
    width: 350px;
    height: 50px;
    background-color: rgba(41, 153, 53, 0.75);
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    border-radius: 100px;
    text-align: center;
    font-weight: bold;
    border: 0;
    font-size: 22px;
}


/* BANCO PAGE */

.tabela-banco:last-child {
    margin-bottom: 100px;
}

.banco-dados-2 {
    background-color: rgba(0, 0, 0, 0.50);
}

.banco-page-table table td {
    width: 300px;
    height: 68px;
}

.banco-page-table::-webkit-scrollbar {
    display: none;
}

.banco-page-table table td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.banco-page-table table td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.banco-page-table table th {
    padding-bottom: 10px;
}

.banco-page-table table {
    border-collapse: separate;
    border-spacing: 0 0.5em;
}

.banco-page {
    color: rgb(243, 243, 243);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    left: -15px;
    top: 27%;
    position: absolute;
    width: 1596px;
    height: 816px;
}

.banco-page-table {
    height: 540px;
    margin-top: 30px;
    scrollbar-width: none;
    overflow: scroll;
    width: 900px;
    margin-left:330px;  
}

.saldo {
    position: absolute;
    top: 50px;
    left: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 45px;
    color: #00ff33;
}

.adicionar-saldo {
    width: 188px;
    height: 31px;
    background-color: rgba(41, 153, 53, 0.75);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-radius: 91.78px;
    border: 0;
    text-align: center;
    font-size: 14px;
    top: 250px;
    left: 77px;
    position: absolute;
}

.remover-saldo {
    width: 188px;
    height: 31px;
    background-color: rgba(255, 72, 72, 0.75);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-radius: 91.78px;
    border: 0;
    text-align: center;
    font-size: 14px;
    position: absolute;
    top: 300px;
    left: 77px;
}

.activeBorde{
    border-bottom: 3px solid white;
}