body,td,th { font-size: 14px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: rgba(155, 175, 185, 0.911); cursor: default; vertical-align: baseline; outline: 0; line-height: 1; margin: 0; padding: 0; word-wrap: break-word; }
a,a:link,a:visited,a:active,a:hover { font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: rgba(155, 175, 185, 0.911); text-decoration: none; }
div,span,applet,object,iframe,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr { border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; margin:0; padding:0; }
:focus { outline:0; }
img { border:none; }
::-webkit-scrollbar { width: 0; }
::selection { background: transparent; color: #666; }
::-moz-selection { background: transparent; color: #666; }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { -webkit-appearance: none; }
/* ---------------------------------------------------------------------------------------------------------------- */

#valor2 {
	color: rgba(155, 175, 185, 0.911);
	font-size: 17px;
	font-weight: bold;
}

#mainPage {
	top: 50%;
	left: 50%;
	width: 1200px;
	height: 700px;
	display: none;
	overflow: auto;
	position: absolute;
	border-radius: 20px;
	border: 15px solid rgb(0, 38, 50);
	transform: translate(-50%,-50%);
	background: #ccc url("images/background.png") no-repeat;
}
/* ---------------------------------------------------------------------------------------------------------------- */
#header {
	float: left;
	width: 1200px;
	height: 126px;
	
}
/* ---------------------------------------------------------------------------------------------------------------- */
#mainMenu {
	float: left;
	width: 1200px;
	padding: 0 30px;
}

#mainMenu li {
	float: left;
	color: rgb(39, 124, 0);
	font-weight: 700;
	margin-right: 3px;
	padding: 21px 20px;
	list-style-type: none;
	letter-spacing: 0.7px;
	text-transform: uppercase;
	text-shadow: 0 1px rgba(0,0,0,0.5);
}

#mainMenu li:hover {
	color: #555;
	padding: 21px 20px;
	background: #cfcfcf;
	text-shadow: 0 0 rgba(0,0,0,0.5);
}

#mainMenu li.active {
	color: rgb(255, 255, 255);
	margin-top: 22px;
	width: 77px;
	height: 10px;
	padding: 10px 10px 10px;
	background-color: rgb(0, 38, 50);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	text-align: center;
}

#mainMenu li::selection {
	color: #999;
	
}

#mainMenu li.active::selection, #mainMenu li:hover::selection {
	color: #555;
	
}
/* ---------------------------------------------------------------------------------------------------------------- */
#content {
	float: left;
	width: 1140px;
	height: 460px;
	margin: 30px;
	overflow: auto;
}
/* ---------------------------------------------------------------------------------------------------------------- */
#titleContent {
	float: left;
	width: 1125px;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
	margin-bottom: 15px;
	padding: 5px 0 10px 15px;
	text-transform: uppercase;
	border-bottom: 1px dotted #999;
}

#pageContent {
	float: left;
	width: 1110px;
	margin: 0 15px;
	font-size: 13px;
	line-height: 25px;
}

#divContent {
	float: left;
	height: 30px;
	width: 1140px;
}

s {
	color: #a94987;
	text-decoration: none;
}

/* ---------------------------------------------------------------------------------------------------------------- */
#pageDiv {
	float: left;
	width: 365px;
	line-height: 25px;
	padding: 0 0 0 15px;
}
/* ---------------------------------------------------------------------------------------------------------------- */
#pageDiv2 {
	float: left;
	width: 262px;
	font-size: 13px;
	line-height: 25px;
	padding: 0 0 0 15px;
}
/* ---------------------------------------------------------------------------------------------------------------- */
#benefactorBar {
	width: 1140px;
	padding: 0 30px;
	background: #222;
	margin-top: -30px;
	margin-left: -30px;
	position: absolute;
	background-color: rgb(0, 38, 50);
}

#benefactorBar li {
	float: left;
	color: rgb(255, 255, 255);
	font-weight: 14px;
	padding: 15px 20px;
	letter-spacing: 0.7px;
	list-style-type: none;
	text-shadow: 0 0 rgba(0,0,0,0.5);
	
}

#benefactorBar li:hover {
	color: rgb(255, 255, 255);
	background-color: #011820;
}

#benefactorBar li.active {
	color: rgba(155, 175, 185, 0.911);
/*border: 1px solid rgba(0, 191, 255, 0.35);*/
	background-color: #011820;
}

#titleVehicles {
	float: left;
	width: 1125px;
	font-size: 15px;
	font-weight: 700;
	margin-top: -46px;
	letter-spacing: 1px;
	margin-bottom: 50px;
	padding: 10px 0 10px 15px;
	position: absolute !important;
	border-radius: 10px;
	border: 1px solid rgba(1, 58, 77, 0.539);
	background-color: #011820;
}

#contentVehicles {
	float: left;
	width: 1140px;
	margin-top: 88px;
	max-height: 372px;
	min-height: 372px;
	overflow-y: scroll;
}

#typeSearch {
	top: 263px;
	right: 35px;
	color: #999999;
	font-size: 13px;
	position: absolute;
}

#typeSearch span {
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 5px 10px;
	color: rgba(155, 175, 185, 0.911);
}

#pageVehicles {
	row-gap: 6px;
	display: grid;
	column-gap: 6px;
	min-width: 1140px;
	max-width: 1140px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

#pageVehicles span {
	width: 250px;
	padding: 14px;
	background: #011820;
	line-height: 35px;
	border-radius: 10px;
	border: 1px solid rgba(1, 58, 77, 0.539);
}

#pageVehicles titule {
	float: left;
	width: 250px;
	text-align: center;
	padding-top: 1px;
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: bold;
	color: #9abbc4;
	border-radius: 10px;
	background-color: rgb(0, 38, 50);
}

#pageVehicles titule2 {
	float: left;
	width: 250px;
	text-align: center;
	padding-top: 1px;
	margin-bottom: 5;
}

#pageVehicles titule3 {
	float:inline-end;
	width: 250px;
	text-align: center;
	padding-top: 1px;
	margin-bottom: 1px;
	font-size: 15px	;
	font-weight: bold;
	color: #9abbc4;
}

#pageVehicles left {
	float: left;
	width: 151px;
	padding-top: 1;
	margin-bottom: 1;
}

#pageVehicles i {
	font-size: 18;
	font-weight: bolder;
	color: #00d7fd;
}

#pageVehicles > .valorTotal{
	color: #ffffff;
}

#pageVehicles right{
	float: left;
	width: 89px;
}


#benefactorBuy {
	float: left;
	width: 89px;
	color: #95d1b1;
	padding: 1px 0 1px;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
	letter-spacing: 1px;
	background: #014507;
	border-radius: 3px;
	
}

#benefactorBuy:hover {
	background: #255a3e;
	transition: all 0.9s;
}

#benefactorSell {
	float: left;
	width: 89px;
	color: #95d1b1;
	padding: 1px 0 1px;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
	letter-spacing: 1px;
	background: #016007;
	border-radius: 3px;
}

#benefactorSell:hover {
	background: #255a3e;
	transition: all 0.9s;
}

#benefactorTax {
	float: left;
	width: 89px;
	color: #f1d89b;
	padding: 1px 0 1px;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
	letter-spacing: 1px;
	background: #a67d1b;
	border-radius: 3px;	
}

#benefactorTax:hover {
	background: #755813;
	transition: all 0.9s;
}

#benefactorTransf {
	float: left;
	width: 89px;
	color: #afadf1;
	padding: 1px 0 1px;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
	letter-spacing: 1px;
	background: #46448e;
	border-radius: 3px;
}

#benefactorTransf:hover {
	background: #33326a;
	transition: all 0.9s;
}

i {
	float: left;
	width: 146px;
	display: block;
	font-size: 14px;
	font-weight: 700;
	font-style: normal;
	margin-bottom: 5px;
	margin-right: 15px;
	padding-bottom: 5px;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-bottom: 1px dotted #ccc;
}

#benefactorRental {
	float: left;
	width: 89px;
	color: #95d1b1;
	padding: 1px 0 1px;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
	letter-spacing: 1px;
	background: #016007;
	border-radius: 3px;
	
}

#benefactorRentalMoney {
	float: left;
	width: 41px;
	color: #95d1b1;
	padding: 6px 0 4px;
	text-align: center;
	margin-bottom: 3px;
	background: #016007;
	border-radius: 3px;
}

#benefactorRentalMoney:hover, #benefactorRental:hover {
	background: #255a3e;
	transition: all 0.9s;
}

#benefactorDrive {
	float: left;
	width: 89px;
	color: #f1b2bd;
	margin-bottom: 20px;
	padding: 1px 0 1px;
	text-align: center;
	letter-spacing: 1px;
	background: #a93b50;
	border-radius: 3px;
}

#benefactorDrive:hover {
	background: #852e3f;
	transition: all 0.9s;
}